/* 模板样式 */
#dog {
    width: 50%;
    height: 90%;
    margin: auto;
    padding: 10px;
    position: fixed;
    border-radius: 10px;
}

#dog:focus-visible {
    outline: none;
}

#dog::-webkit-backdrop {
    background: rgba(0, 0, 0, .75);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

#dog::backdrop {
    background: rgba(0, 0, 0, .75);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

#dog>span {
    z-index: 99;
    position: fixed;
    display: inline-block;
}


/* 音乐列表开始 */
#dog>h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: -10px;
    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
    z-index: 90;
    background: linear-gradient(180deg, white 60%, transparent);
    padding-bottom: 25px;
}

#dog>h2 div {
    padding: 0 !important;
}

#dog>h2 span {
    -webkit-filter: opacity(0);
    filter: opacity(0);
    transition: 0.6s;
    font-size: 18px;
    font-weight: 400;
}

#dog>h2:hover span {
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

#dog>h2 img {
    width: 30px;
}

#dog>div {
    z-index: 0;
    padding-left: 0;
    position: relative;
    margin: 0 20%;
}

#dog>div.musliIng {
    padding: 5px;
    background: chartreuse;
    border-radius: 6px;
}

#dog>div .musicItem {
    opacity: 1;
    text-align: end;
    min-width: 22px;
    transition: .3s;
    display: inline-block;
}

#dog>div:hover .musicItem {
    opacity: 0.9;
}

#dog>div svg.icon {
    width: 20px;
    height: 20px;
}

#dog #playlistLength {
    -webkit-filter: opacity(1) !important;
    filter: opacity(1) !important;
}


/* MaxLrc */
#dog>#dogLrc {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    transition: all 0.6s;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}

#dog>#dogLrc li {
    line-height: 22px;
    font-size: 17px;
    list-style: none;
    transition: .8s;
    height: 100%;
    min-height: 19.6px;
}

#dog>#dogLrc li.visited {
    transform: scale(1);
    color: #aaa;
}

#dog>#dogLrc li.active {
    transform: scale(1.3);
    color: pink;
}









/* #dog{
    color: #fff;
    z-index: 10000;
    transition: .6s;
    /* overflow: visible; */
/* 改善为srcool后就不用了 *
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100vw !important;
    height: auto !important;
    margin: 40px !important;
    margin-bottom: 0px !important;
} */
/* MaxLrcDel */